.chat-content {
  position: relative;
  text-align: center;

  height: 600px;

  max-width: 500px;
  margin: 50px auto;
  overflow:auto;
  overflow-scrolling: touch;
}

.chat-box {
  position: fixed;
  bottom: 40px;
  left: 0;
  width: 100%;
  text-align: center;
}

.chat-message {
  width: 300px;
  padding: 20px 20px;
  border-radius: 60px;
  background: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  margin: 20px;
}

.chat-container {
  display: flex;
  width: 600px;
  margin: 0 auto;
  height: 50px;
}

.chat-box button {
  width: 200px;
}
.form-group {
  margin-bottom: 0;
}

.chat-box .form-group {
  display: flex;
  flex: 1;
}
