<div class="chat-content">
  <!--loop chats here-->
  <div *ngFor="let message of messages" class="chat-message">{{message}}</div>
</div>
<div class="chat-box">
  <div>
    <form (submit)="sendMessage()" class="chat-container">
      <div class="form-group">
        <input
          type="text" class="form-control"  placeholder="chat message"
          (keyup)="updateMessage($event)"
          autofocus
          value="{{message}}">

      </div>
      <button class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>

