.admin-panel, .status-panel {
  height: calc(100vh - 56px - 200px);
  overflow: scroll;
  padding-top: 40px;
}

.admin-panel {
}

.card {
  margin: 10px;
  padding: 10px;
}

.status-panel {
  /*border-left: 5px solid #007bff !important;*/
  height: 650px;
}

.progress {
  position: fixed;
  top:56px;
  border-radius: 0;
  left:0;
  width: 100%;
  z-index: 10;
}

.bottom-status-container {
  height: 200px;
  padding-top: 40px;
  padding-bottom: 40px;
  background: #333;
  text-align: center;
  font-size: 11px;
  color: white;
  overflow: scroll;

  font-family: "Courier New";
}

