<!--<div class="container">-->

  <!--<div class="row">-->
    <!--<div class="col-sm-8">-->
      <!--<div class="admin-panel">-->
        <!--<h1 class="mt-2">Blockchain Dashboard</h1>-->
        <!--<h3>{{blocks && blocks.length}} Blocks in the Blockchain</h3>-->

        <!--<hr/>-->

        <!--<h3>What is your favorite color?</h3>-->

        <!--<form>-->
          <!--<div class="form-group">-->
            <!--<input-->
              <!--type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="ex: Red"-->
              <!--value="{{selectedColor}}"-->
              <!--(keyup)="updateColor($event.target.value)"-->
            <!--&gt;-->
          <!--</div>-->
        <!--</form>-->

        <!--<button-->
          <!--class="btn btn-primary mt-1"-->
          <!--*ngIf="!isMining"-->
          <!--(click)="handleMineBlock()"-->
        <!--&gt;-->
          <!--Mine Block-->
        <!--</button>-->

        <!--<button-->
          <!--class="btn btn-danger mt-1"-->
          <!--*ngIf="isMining"-->
          <!--disabled="true"-->
        <!--&gt;-->
          <!--Mining.....-->
        <!--</button>-->

      <!--</div>-->
    <!--</div>-->
    <!--<div class="col-sm-4">-->
      <!--<div class="status-panel">-->
        <!--&lt;!&ndash;<p *ngFor="let text of status">{{text}}</p>&ndash;&gt;-->
        <!--<div class="card" *ngFor="let block of blocks">-->
          <!--<div class="card-title" style="color: {{block.data}}">Block</div>-->
          <!--<div class="card-sub-title">Mined In {{block.nonce}}</div>-->
          <!--<div class="card-content">-->
            <!--<div>Favorite Color: {{block.data}}</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

<!--</div>-->

<!--<div class="bottom-status-container">-->
  <!--<p *ngFor="let status of status">-->
    <!--{{status}}-->
  <!--</p>-->
<!--</div>-->

<div class="progress" *ngIf="isMining">
  <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
</div>

<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-sm-7">
      <h2>Block Explorer</h2>

      <div class="input-group mt-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Data to Store</span>
        </div>
        <input
          type="text" class="form-control" placeholder="data..." aria-label="Username" aria-describedby="basic-addon1"
          [(ngModel)]="blockData" name="blockData"
        >
      </div>

      <button
        class="btn btn-primary mt-4"
        (click)="handleMineBlock()"
        [disabled]="isMining">
        Mine Block
      </button>
    </div>
    <div class="col-sm-5">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{activeBlock ? 'Block #' + activeBlock.id : '...' }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{activeBlock ? 'Mined: ' + activeBlock.timestamp : '...'}}</h6>
            <p class="card-text">{{activeBlock ? activeBlock.data : '...' }} </p>
          </div>
        </div>
      </div>
  </div>
  <div class="row table-row">
    <div class="col">

      <div class="table-responsive-md">
        <table class="table table-striped table-hover">
          <thead class="bg-primary" style="color: white">
          <tr>
            <th scope="col">Block ID</th>
            <th scope="col">Date Mined</th>
            <th scope="col">Data</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let block of blocks" (click)="setActiveBlock(block)">
            <th scope="row">{{ block.hash }}</th>
            <td>{{ block.timestamp | date:'short' }}</td>
            <td>{{ block.data }}</td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>

